---
title: About Jedidex API
linkTitle: About
menu:
   main:
      weight: 10

---


{{< blocks/cover title="About Jedidex API" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">A huge set of API's containing every bit of StarWars
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
Jedidex API is an Spring boot data rest API that sit on top of a Neo4J graph. Of course, it's free of charge for everyone.
{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
    <h3 class="text-center">
        A HUGE thanks goes to all the awesome Wookiepedia editors that shared their knowledge and
        experience with the world.<br/>
        Without them this API would not be possible, so
        THANKS guys!
    </h3>
</div>

{{< /blocks/section >}}

